<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Geocoding</title>
  </head>
  <body>
    <header>
      This is the Header
    </header>
    <%- body %>
    <footer>
      This is the Footer
    </footer>
  </body>
</html>
